/* element:link - вид элемента до того как по нему перешли.
   element:visited - вид элемента после того как по нему перешли
   element:hover - вид элемента при наведении на него
   element:active - вид элемента во время нажатия на него
   element:focus  - вид элемента когда на него поставлен курсор для ввода
   
   element :first-child - значения применяются к первому доч.элементу элемента "element"
   element :last-child - значения применяются к последнему доч.элементу элемента "element"
   element :first-of-type - значения применяются к каждому новому первому доч.элементу элемента "element"
   element :last-of-type - значения применяются к каждому новому последнему доч.элементу элемента "element"
   element :nth-child(число/фомула"2n" "2n+1") - значения применяются к выбраным доч.элементам элемента "element"
   */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

/* body {
    text-align: center;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
} */





/*

1) position: static; - Не двигается.
2) position: relative; - Двигается относительно своей прошлой позиции (За ним фиксируется место).
3) position: absolute; - Двигаетяс относительно ближайшего родителя у которого задан "Position: Relative" (За ним не фиксируется место).
4) position: fixed; - Двигается относительно вью-порта (За ним место не фиксируется).
5) position: sticky;

*/




.parent {
    border: 5px solid green;
    position: relative;
       
}

.child {
    border: 5px solid black;
    width: 100px;
    height: 100px;
}

.child:nth-child(1) {
    position: static;
    background-color: yellow;
}

.child:nth-child(2) {
    position: relative;
    top: -30px;
    left: -10px;
    background-color: rgb(42, 186, 29);
    z-index: 0;

}

.child:nth-child(3) {
    position: relative;
    top: 30px;
    left: -10px;
    background-color: rgb(207, 33, 184);
    z-index: -1;

}

.child:nth-child(4) {
    position: static;
    background-color: rgb(40, 122, 204);
}

.child:nth-child(5) {
    background-color: rgb(228, 107, 151);
    position: absolute;
    right: 0;
    top: 0;
}

.child:nth-child(6) {
    background-color: rgb(226, 89, 20);
    position: absolute;
    top: 150px;
    left: 650px;
    z-index: 1;
}

.child:nth-child(7) {
    background-color: rgb(238, 178, 235);
    position: absolute;
    bottom: 0;
    left: 50px;   
}

    .child8 {
        height: 100px;
        width: 100px;
        border: 5px solid black;
        background-color: rgb(144, 155, 119);
        position: sticky;
        margin-left: 300px;
        top: 10px;  
    }

body {
    text-align: center;
}

.p1 {
    background-color: aquamarine;
    
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
}













