/* element:link - вид элемента до того как по нему перешли.
   element:visited - вид элемента после того как по нему перешли
   element:hover - вид элемента при наведении на него
   element:active - вид элемента во время нажатия на него
   element:focus  - вид элемента когда на него поставлен курсор для ввода
   
   element :first-child - значения применяются к первому доч.элементу элемента "element"
   element :last-child - значения применяются к последнему доч.элементу элемента "element"
   element :first-of-type - значения применяются к каждому новому первому доч.элементу элемента "element"
   element :last-of-type - значения применяются к каждому новому последнему доч.элементу элемента "element"
   element :nth-child(число/фомула"2n" "2n+1") - значения применяются к выбраным доч.элементам элемента "element"
   */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 30px;
    
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 100px;
}

th {
    color: white;
    padding: 10px;
    
   
}

td {
    padding: 10px;
}


.tr1 :nth-child(1) {
    background-color: rgb(153, 153, 235);
}

.tr1 :nth-child(2) {
    background-color: rgb(99, 99, 238);
}

.tr1 :nth-child(3) {
    background-color: rgb(54, 54, 223);
}

.tr1 :nth-child(4) {
    background-color: rgb(20, 20, 195);
}

button {
    padding: 15px;
    min-width: 150px;
    font-size: 32px;
}


/* .tr2 :nth-child(2n+1) {
    background-color: grey;
}

.tr2 :nth-child(2n) {
    background-color: rgb(204, 201, 201);
}


.tr3 :nth-child(2n+1) {
    background-color: rgb(204, 201, 201);
}

.tr3 :nth-child(2n) {
    background-color: rgb(255, 255, 255);
} */

tr:nth-child(2n+1) > td:nth-child(2n+1) {
    background-color: grey;
}

tr:nth-child(2n) > td:nth-child(2n+1), tr:nth-child(2n+1) > td:nth-child(2n) {
    background-color: rgb(204, 201, 201);
}

tr:nth-child(2n) > td:nth-child(2n) {
    background-color: rgb(255, 255, 255);
}











