* {
    box-sizing: border-box;
}

.parent {
    display: grid;
    border: 5px solid red;
    min-width: 500px;
    min-height: 600px;
    gap: 5px;

    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(100px, 400px));

    grid-template-areas:
        "b1 b1 b2"
        "b3 b4 b5"
        "b6 b6 b6"
        ". b7 .";
}

.child:nth-child(1) {
    grid-area: b1;
}

.child:nth-child(2) {
    grid-area: b2;
}

.child:nth-child(3) {
    grid-area: b3;
}

.child:nth-child(4) {
    grid-area: b4;
}

.child:nth-child(5) {
    grid-area: b5;
}

.child:nth-child(6) {
    grid-area: b6;
}

.child:nth-child(7) {
    grid-area: b7;
}

.child {
    border: 5px solid green;
}

.child:nth-child(2) {
    order: 6;
}

@media screen and (max-width: 600px) {
    .child {
        background-color: orange;
    }
}

.child:nth-child(4) {
    transition: transform 0.5s 1s, background-image 0.5s 1s;
    background-image: linear-gradient(to right, yellow, orange);
}

.child:nth-child(4):hover {
    background-image: linear-gradient(to right, purple, purple);
    transform: scale(0.8);
}
