* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(autofit, min-max(100px, 300px));
    text-align: center; */
}

.isDay {
    grid-column: 5/7;
}

.day {
    background-color: yellow;
    color: black;
}

.night {
    background-color: black;
    color: yellow;
}

.onli {
    color: blue;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

a {
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img1 {
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 40%;
}

.log {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img2 {
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 25%;
    box-shadow: 0 0 10px blue;
}

.img3 {
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 25%;
    object-position: 0 0;
    box-shadow: 0 0 10px rgb(85, 7, 85);
}

.noLog {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
