h1 {
    width: 300px;
    height: 200px;
    background-color:aquamarine;
    border: 2px blue solid;
    padding: 20px 50px 10px 10px;
    margin: 40px;
    display: block;
}

a {
    display: inline-block;
    width: 100px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    border: 2px red solid;
    vertical-align: top;
    text-decoration: none;
    color: rgb(200,100,10);
}


div {
    color: rgb(100,200,0);
    font-size: 0px;
    text-align: center;
}

p {
    display: inline-block;
    box-sizing: border-box; 
    color: inherit;
    border: 2px red dashed; 
    padding: 10px;
    margin: 20px 0px 20px;
    height: 100px;
    width: calc(100% / 2);
    vertical-align: top;
    font-size: 15px;
}

img {
    border: 3px blue solid;
    height: 400px;
    width: 400px;  
    object-fit: cover;
    /* object-position: top right; */
    border-radius: 50%;
    
}